* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 30px;
  overflow-x: hidden;
}

header > img {
  width: 25%;
}

.content {
  margin: 25px;
  width: 80%;
}

.signin {
  font-size: 2.5rem;
  font-weight: normal;
}
.updated {
  font-size: 0.9rem;
  color: rgb(87, 87, 87);
}

.form-style {
  margin-top: 1.5rem;
}
.password {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
}
input,
button {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding-left: 10px;
  border: 1px border blue;
}
.forget {
  color: rgb(15, 97, 151);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.4rem;
}
.forget:hover {
  background-color: rgb(132, 175, 245);

  border-radius: 25px;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  margin-top: 1.5rem;
  width: 100%;
}

button {
  background-color: rgb(36, 104, 214);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  font-weight: normal;
}

button:hover {
  background-color: rgb(8, 47, 110);
  cursor: pointer;
}

.seperator {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

hr {
  height: 0%;
  width: 40%;
  color: rgb(195, 187, 187);
  border-color: rgb(216, 216, 216);
}
.or {
  padding: 0 10px;
}
.apple {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  color: rgb(170, 167, 167);
  font-weight: normal;
}
.apple:hover {
  background-color: rgb(236, 233, 233);
  border: 2px solid black;
}

.apple > img {
  padding: 0 15px 0 0;
}
.join {
  margin-top: 2rem;
  text-align: center;
}

/* tablet-view */
@media screen and (min-width: 740px) {
  header > img {
    width: 130px;
  }

  .content > div:first-child {
    box-shadow: -1px 3px 13px 3px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: -1px 3px 13px 3px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -1px 3px 13px 3px rgba(0, 0, 0, 0.65);
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 6rem;
    padding: 1.7rem;
    border-radius: 8px;
  }
  .content {
    margin: 0 auto;
  }
}
